*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #F0F1FF;
}

.registration-part .css-mhc70k-MuiGrid-root>.MuiGrid-item{
  padding: 0 !important;
}

.registration-part .box{
  display: flex;
  justify-content: flex-end;
  margin-right: 70px;
}

.registration-part h2{
  font-family: 'Nunito', sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #11175D;
  margin: 0;
  margin-top: 150px;
}
.registration-part p{
  font-family: 'Nunito', sans-serif;
  font-size: 21px;
  font-weight: 400;
  color:#11175D;
  margin: 0;
}

.registration-part .MuiFormHelperText-root{
  color: red !important;
  font-size: 14px;
}
.registration-part .message{
  font-size: 13px;
  margin-top: 35px;
}
.registration-part .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  border: 0;
  border-bottom: 1px solid rgb(0 ,0 ,0 , 0.23);
}

.registration-part .option{
  padding: 20px 40px;
  border: 1px solid #03014C;
  margin-right: 20px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  padding-left: 92px;
  cursor: pointer;
  
}

.registration-part .loginoption{
  display: flex;
}

.registration-part .option img{
  position: absolute;
  top: 18px;
  left: 54px;
}

.registration-part .message a{
  display: inline-block;
  color: #EA6C00;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.registration-part .eye{
  position: relative;
  width: 355px;
}

.registration-part .eyeicon{
  position: absolute;
  bottom: 17px;
  right: 10px;
}


.login-part .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border: 0;
}

.leftbar{
  width: 60%;
  height: 100vh;
  background: #5F35F5;
  margin: 35px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
}
.leftbar .profilepic{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-top: 25px;
  
}

.leftbar .icons{
  font-size: 35px;
  color: #BAD1FF;
  margin-left: -8px;
  margin-top: -10px;
}

ol,ul{
  list-style: none;
}

.leftbar .active{
  background-color: #fff;
}
.leftbar li{
  margin-top: 25px;
  width: 90%;
  margin-left: auto;
  padding: 20px 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
}

.leftbar li::after{
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  background: #5F35F5;
  content: "";
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.leftbar .active .icons{
  color: #5F35F5;
}

.leftbar .username{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 5px;
  color: #fff;  
}

.search{
  margin-top: 35px;
  position: relative;
}

.search input{
  width: 100%;
  padding: 17px 78px;
  box-sizing: border-box;
  border: 0;
  -webkit-box-shadow: 0px 5px 23px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 23px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 5px 23px 0px rgba(0,0,0,0.3);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.search .searchicon{
  position: absolute;
  top: 35%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  left: 23px;
}
.search .menu{
  position: absolute;
  top: 35%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  right: 23px;
}

.grouplist{
  width: 100%;
  padding: 17px 40px;
  box-sizing: border-box;
  border: 0;
  -webkit-box-shadow: 0px 5px 23px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 23px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 5px 23px 0px rgba(0,0,0,0.3);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  height: 295px;
  overflow-y: scroll;
  margin-top: 43px;  
}

.grouplist h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.grouplist .box h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.grouplist .box h4{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #4D4D4D;
}

.grouplist .box{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(0, 0, 0, .25);
  padding-bottom: 13px;
  margin-top: 17px;
}
.grouplist .box .img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.grouplist .box .button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grouplist .box .button button{
  background: #5F35F5;
  padding: 8px 20px;
  border: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #fff;
}

.grouplist .box:last-child{
  border: 0;
}

.friendlist{
  height: 720px;
  padding: 20px 10px;
}

.friendlist .box .button{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.userlist .box .button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.friendlist .box p{
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #4D4D4D;
}